<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AdminProductListServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductUIServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminAddProductUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminAddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDelProductServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminDelProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDelProductByCheckedServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminDelProductByCheckedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductUIServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminEditProductUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminEditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchProductListServlet</servlet-name>
        <servlet-class>com.liweijian.web.AdminSearchProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>com.liweijian.web.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>com.liweijian.web.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchWordServlet</servlet-name>
        <servlet-class>com.liweijian.web.SearchWordServlet</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>SearchWordServlet</servlet-name>
        <url-pattern>/searchWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchProductListServlet</servlet-name>
        <url-pattern>/adminSearchProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <url-pattern>/adminEditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductUIServlet</servlet-name>
        <url-pattern>/adminEditProductUI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDelProductByCheckedServlet</servlet-name>
        <url-pattern>/adminDelProductByChecked</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDelProductServlet</servlet-name>
        <url-pattern>/adminDelProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <url-pattern>/adminAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductUIServlet</servlet-name>
        <url-pattern>/adminAddProductUI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductListServlet</servlet-name>
        <url-pattern>/adminProductList</url-pattern>
    </servlet-mapping>
</web-app>